<div class="container">
    <h3>All Posts:</h3>
    <ul id="post-list" class="list-group">
        {{#each post}}
        <li data-id="{{this.id}}" class="list-group-item">
        <h4>{{this.title}}</h4>
        <p>{{this.content}}</p>
        <p>{{this.User.firstName}} {{this.User.lastName}}</p>
        <a href="post/{{this.id}}">View</a>
        </li>
        {{/each}}
    </ul>

</div>
