<div class="container">
    <div class="row" style="height: 140px"></div>
    <div class="row">
        <a href="/allposts">← Go Back to All Posts</a>
        <ul id="view-single-post" class="list-group">
            <li data-id="{{post.id}}" class="list-group-item">
            <h4>{{post.title}}</h4> 
            <p>Posted by: {{post.User.firstName}} {{post.User.lastName}}</p>
            <p>{{post.content}}</p>
            </li>
            <a href="#write-comment">Comment</a>
        </ul>
    </div>
    <div class="row">
        <ul id="comment-list">
            {{#each comment}}
            <li class="list-group-item"> 
                <p>{{this.content}}</p>
                <p>From {{this.User.firstName}} {{this.User.lastName}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
    

    <br>
    <form id="write-comment">
        <div class="row">
        <div class="form-group col-lg-6 mx-auto pt-2">
            <label for="imageURL-input">Comment</label>
            <input type="input" class="form-control" id="comment-input" placeholder="Write your comment here." required>
        </div>
        </div>
        <div class="row">
        <div class="form-group col-lg-3 mx-auto">
            <label for="category">Select User:</label>
            <select class="custom-select" id="user">
                {{#each user}}
                <option class="user" data-id="{{this.id}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
            </select>
        </div>
        </div>
        <br>
        <div class="col-lg-6 mx-auto">
            <button type="submit" class="btn btn-primary col-12" id="submit" data-id="{{post.id}}">Submit</button>
        </div>
        <br>
    </form>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/writecomment.js"></script>